[Desktop Entry]
Name=Pliner
Comment=Task manager with life-process philosophy
Exec=/opt/self_process_manager_front/self_process_manager_front
Path=/opt/self_process_manager_front
Icon=pliner
Terminal=false
Type=Application
Categories=Utility;Productivity;
